<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
     
    </style>
</head>

<body>
    <div>
        <p>Hi!</p>
        <p>{{nameuser}} ({{emailuser}}) invite you join in <b>{{nameclass}}</b></p>
        <br>
        <button style="padding: 10px 20px;background-color: blue; border-radius:5px; border:none"><a
                style=" color:white" href="{{link}}">Join</a></button>
    </div>
</body>

</html>